

body{
  font-family:Arial;
  background:#f2f2f7;
  min-height:100vh;
}

.board{
  display:grid;
  grid-template-columns:repeat(4, 90px);
  gap:10px;
  justify-content:center;
  margin-top:20px;
}

.card{
  width:90px;
  height:90px;
  background:#222;
  color:white;
  font-size:28px;
  border-radius:6px;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:0.2s;
}

.card.open, .card.matched{
  background:#00acff;
}

.card.matched{
  background:#19c57d;
}

#status{
  margin:8px;
  font-size:18px;
}
.navbar {
  background:#2c2c2c;
  padding:8px 12px;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
}

.navbar a {
  color:white;
  margin-right:10px;
  text-decoration:none;
  font-size:15px;
}

.navbar a:hover {
  text-decoration:underline;
}

.nav-right {
  font-size:14px;
  opacity:0.85;
}

